@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');
//Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
$mustard: #021D44;
$mustard-2: #F3BA42;
$green: #1E7349;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$success: gray;
$primary: $green;
$warning: white;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

.header {
  font-size: 450%;
}

.notification {
  cursor: pointer;
}

.has-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.is-underlined {
  padding-bottom: 0px;
  border-bottom: 7px solid $mustard-2;
}

html {
  scroll-behavior: smooth;
}

$notification-radius: 10px;

@import "../../node_modules/bulma/bulma.sass";